<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nullpoint.fifteenmintable.mapper.RecipeBookmarkMapper">
    <resultMap id="RecipeBookmarkRespDto" type="com.nullpoint.fifteenmintable.entity.RecipeBookmark">
        <id property="recipeBookmarkId" column="" />
        <result property="recipeId" column="recipe_id" />
        <result property="userId" column="user_id" />
        <result property="createDt" column="create_dt" />
    </resultMap>
    
    <insert id=""
</mapper>