<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nullpoint.fifteenmintable.mapper.CommentMapper">
    <resultMap id="CommentRespDtoResultMap" type="com.nullpoint.fifteenmintable.dto.comment.CommentRespDto">
        <id property="commentId" column="comment_id"/>
        <result property="recipeId" column="recipe_id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="profileImgUrl" column="profile_img_url"/>
        <result property="content" column="content"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
    </resultMap>

    <insert id="addComment" useGeneratedKeys="true" keyProperty="commentId">
        insert into
            comment_tb(comment_id, recipe_id, user_id, content, create_dt, update_dt)
        values
            (0, #{recipeId}, #{userId}, #{content}, now(), null);
    </insert>

    <select id="getCommentListByRecipeId" resultMap="CommentRespDtoResultMap">
        select
            ct.comment_id,
            ct.recipe_id,
            ct.user_id,
            ut.username,
            ut.profile_img_url,
            ct.content,
            ct.create_dt,
            ct.update_dt
        from
            comment_tb ct
            join user_tb ut
            on ut.user_id = ct.user_id
        where
            ct.recipe_id = #{recipeId}
        order by
            ct.comment_id desc;
    </select>

    <select id="getCommentListByUserId" resultMap="CommentRespDtoResultMap">
        select
            ct.comment_id,
            ct.recipe_id,
            ct.user_id,
            ut.username,
            ut.profile_img_url,
            ct.content,
            ct.create_dt,
            ct.update_dt
        from
            comment_tb ct
            join user_tb ut
            on ut.user_id = ct.user_id
        where
            ct.user_id = #{userId}
        order by
            ct.comment_id desc;
    </select>

    <select id="getCommentByCommentId" resultMap="CommentRespDtoResultMap">
        select
            ct.comment_id,
            ct.recipe_id,
            ct.user_id,
            ut.username,
            ut.profile_img_url,
            ct.content,
            ct.create_dt,
            ct.update_dt
        from
            comment_tb ct
            join user_tb ut
            on ut.user_id = ct.user_id
        where
            ct.comment_id = #{commentId};
    </select>

    <delete id="deleteComment">
        delete from
            comment_tb
        where
            comment_id = #{commentId};
    </delete>
</mapper>