<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nullpoint.fifteenmintable.mapper.RecipeMapper">
    <resultMap id="RecipeEntityMap" type="com.nullpoint.fifteenmintable.entity.Recipe">
        <id property="recipeId" column="recipe_id"/>
        <result property="boardId" column="board_id"/>
        <result property="mainCategoryId" column="main_category_id"/>
        <result property="subCategoryId" column="sub_category_id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="intro" column="intro"/>
        <result property="thumbnailImgUrl" column="thumbnail_img_url"/>
        <result property="ingredients" column="ingredients"/>
        <result property="ingredientImgUrl" column="ingredient_img_url"/>
        <result property="steps" column="steps"/>
        <result property="viewCount" column="view_count"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
    </resultMap>

    <resultMap id="RecipeListRespMap" type="com.nullpoint.fifteenmintable.dto.recipe.RecipeListRespDto">
        <id property="recipeId" column="recipe_id"/>
        <result property="userId" column="user_id"/>
        <result property="thumbnailImgUrl" column="thumbnail_img_url"/>
        <result property="viewCount" column="view_count"/>
        <result property="avgRating" column="avg_rating"/>
        <result property="title" column="title"/>
        <result property="username" column="username"/>
        <result property="profileImgUrl" column="profile_img_url"/>
        <result property="mainCategoryId" column="main_category_id"/>
        <result property="subCategoryId" column="sub_category_id"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>
        <result property="bookmarkedByMe" column="bookmarked_by_me"/>
    </resultMap>

    <resultMap id="RecipeDetailRespMap" type="com.nullpoint.fifteenmintable.dto.recipe.RecipeDetailRespDto">
        <id property="recipeId" column="recipe_id"/>
        <result property="boardId" column="board_id"/>
        <result property="mainCategoryId" column="main_category_id"/>
        <result property="subCategoryId" column="sub_category_id"/>
        <result property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="profileImgUrl" column="profile_img_url"/>

        <result property="title" column="title"/>
        <result property="intro" column="intro"/>
        <result property="thumbnailImgUrl" column="thumbnail_img_url"/>
        <result property="ingredients" column="ingredients"/>
        <result property="ingredientImgUrl" column="ingredient_img_url"/>
        <result property="steps" column="steps"/>

        <result property="viewCount" column="view_count"/>
        <result property="createDt" column="create_dt"/>
        <result property="updateDt" column="update_dt"/>

        <result property="avgRating" column="avg_rating"/>
        <result property="ratingCount" column="rating_count"/>
        <result property="commentCount" column="comment_count"/>
    </resultMap>

    <insert id="addRecipe" useGeneratedKeys="true" keyProperty="recipeId">
        insert into
            recipe_tb
            (board_id, main_category_id, sub_category_id, user_id, title, intro, thumbnail_img_url,
            ingredients, ingredient_img_url, steps, view_count, create_dt, update_dt)
        values
            (#{boardId}, #{mainCategoryId}, #{subCategoryId}, #{userId}, #{title}, #{intro},
            #{thumbnailImgUrl}, #{ingredients}, #{ingredientImgUrl}, #{steps}, #{viewCount}, now(), null)
    </insert>

    <select id="getRecipeCardListByBoardId" resultMap="RecipeListRespMap">
        select
            rt.recipe_id,
            rt.user_id,
            rt.thumbnail_img_url,
            rt.view_count,
            COALESCE(ROUND(rat_t.avg_rating, 1), 0) as avg_rating,
            rt.title,
            ut.username,
            ut.profile_img_url,
            rt.main_category_id,
            rt.sub_category_id,
            rt.create_dt,
            rt.update_dt,
            if(bmt.recipe_bookmark_id is null, false, true) as bookmarked_by_me
        from
            recipe_tb rt
            join user_tb ut
            on ut.user_id = rt.user_id
            left join (
                select
                    recipe_id,
                    avg(rating) as avg_rating
                from
                    recipe_rating_tb
                group by
                    recipe_id
            ) rat_t
                on rat_t.recipe_id = rt.recipe_id

            left join recipe_bookmark_tb bmt
                on bmt.recipe_id = rt.recipe_id
                and bmt.user_id = #{userId}
        where
            rt.board_id = #{boardId}
        order by
            rt.create_dt DESC
        limit #{limit}
        offset #{offset}
    </select>

    <select id="getRecipeCardListByUserId" resultMap="RecipeListRespMap">
        select
            rt.recipe_id,
            rt.user_id,
            rt.thumbnail_img_url,
            rt.view_count,
            coalesce(round(rat_t.avg_rating, 1), 0) as avg_rating,
            rt.title,
            ut.username,
            ut.profile_img_url,
            rt.main_category_id,
            rt.sub_category_id,
            rt.create_dt,
            rt.update_dt,
            if(bmt.recipe_bookmark_id is null, false, true) as bookmarked_by_me
        from
            recipe_tb rt
            join user_tb ut
            on ut.user_id = rt.user_id
            left join (
                select
                    recipe_id,
                    avg(rating) as avg_rating
                from
                    recipe_rating_tb
                group by
                    recipe_id
            ) rat_t
            on rat_t.recipe_id = rt.recipe_id

            left join recipe_bookmark_tb bmt
                on bmt.recipe_id = rt.recipe_id
                and bmt.user_id = #{loginUserId}
        where
            rt.user_id = #{userId}
        order by
            rt.create_dt desc
        limit #{limit}
        offset #{offset}
    </select>

    <select id="getRecipeCountByBoardId" resultType="int">
        select
            count(*)
        from
            recipe_tb
        where
            board_id = #{boardId}
    </select>

    <select id="getRecipeCountByUserId" resultType="int">
        select
            count(*)
        from
            recipe_tb rt
        where
            rt.user_id = #{userId}
    </select>

    <select id="getRecipeDetail" resultMap="RecipeDetailRespMap">
        select
            rt.recipe_id,
            rt.board_id,
            rt.main_category_id,
            rt.sub_category_id,
            rt.user_id,
            ut.username,
            ut.profile_img_url,

            rt.title,
            rt.intro,
            rt.thumbnail_img_url,
            rt.ingredients,
            rt.ingredient_img_url,
            rt.steps,

            rt.view_count,
            rt.create_dt,
            rt.update_dt,

            COALESCE(ROUND(rat_t.avg_rating, 1), 0) as avg_rating,
            COALESCE(rat_t.rating_count, 0) as rating_count,
            COALESCE(com_t.comment_count, 0) as comment_count
        from
            recipe_tb rt
            join user_tb ut
            ON ut.user_id = rt.user_id
            left join (
                select
                    recipe_id,
                    avg(rating) as avg_rating,
                    count(*) as rating_count
                from
                    recipe_rating_tb
                group by
                    recipe_id
            ) rat_t
            on rat_t.recipe_id = rt.recipe_id
            left join (
                select
                    target_id as recipe_id,
                    count(*) as comment_count
                from
                    comment_tb
                where
                    target_type = 'RECIPE'
                group by
                    target_id
            ) com_t
            on com_t.recipe_id = rt.recipe_id
        where
            rt.board_id = #{boardId}
            and rt.recipe_id = #{recipeId}
        limit 1
    </select>

    <select id="getRecipeEntityById" resultMap="RecipeEntityMap">
        select
            recipe_id,
            board_id,
            main_category_id,
            sub_category_id,
            user_id,
            title,
            intro,
            thumbnail_img_url,
            ingredients,
            ingredient_img_url,
            steps,
            view_count,
            create_dt,
            update_dt
        from
            recipe_tb
        where
            recipe_id = #{recipeId}
        limit 1
    </select>

    <!-- 조회수 +1 -->
    <update id="increaseViewCount">
        update
            recipe_tb
        set
            view_count = view_count + 1
        where
            recipe_id = #{recipeId}
    </update>

    <update id="modifyRecipe">
        update
            recipe_tb
        set
            main_category_id = #{mainCategoryId},
            sub_category_id = #{subCategoryId},
            title = #{title},
            intro = #{intro},
            thumbnail_img_url = #{thumbnailImgUrl},
            ingredients = #{ingredients},
            ingredient_img_url = #{ingredientImgUrl},
            steps = #{steps},
            update_dt = now()
        where
            recipe_id = #{recipeId}
            and user_id = #{userId}
    </update>


    <delete id="removeRecipe">
        delete from
            recipe_tb
        where
            recipe_id = #{recipeId}
            and user_id = #{userId}
    </delete>
</mapper>
